@@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: semibold;
  src:
    local('ProximaNova Semibold'),
    url(./fonts/ProximaNova/ProximaNova-Semibold.otf) format('opentype');
}

@@font-face {
  font-family: 'ProximaNova';
  font-style: normal;
  font-weight: regular;
  src:
    local('ProximaNova Regular'),
    url(./fonts/ProximaNova/ProximaNova-Regular.otf) format('opentype');
}

.App {
  text-align: center;
}

.page-header {
  color: white;
  background-color: dimgrey;
}
.page-banner {
  position: relative;
  text-align: center;
  color: white;
}

.page-descrip {
  text-align: center;
}

.Descrip-title {
  font-size: 30px;
}

.Descrip-text {
  font-size: 18px;
}

.DropDown-display {
  background-color: black;
}

.Gender, .Location, .Height, .Occupation, .Seeking, .Birthday, .Income, .Interests {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  text-align: center;
  width: 400px;
  display: inline-block;
}


.Continue {
  position: relative;
  margin-top: 50px;
  margin-bottom: 100px;
  text-align: center;
}
